body {
    margin: 0;
    font-family: "Courier New";
    background-color: black;
}
h1 {
    color: white;
}
h2 {
    color: white;
}
h3 {
    color: white;
}
h4 {
    color: white;
}
h5 {
    color: white;
}
h6 {
    color: white;
}
p {
    color: white;
}
li {
    color: white;
}
a {
    color: white;
}
p {
    color: white;
}
label {
    color: white
}
a {
    text-decoration: none;
    color: black;
}