body {
    background-color: rgb(122, 128, 124);
    margin: 50px
}
h1, h2, h3, h4, h5, h6, p, td, tr {
    color: white;
    font-family: Courier New;
    font-size: 50px;
}
input {
    font-family: Courier New;
    font-size: 50px;
}

