<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
    <link rel="stylesheet" href="static\\css\\style.css">
</head>
<body>
    <h1>Customer</h1>
    <h1><a href="http://localhost:6969/add/" target="blank">Add Customer</a></h1>
    <h1><a href="http://localhost:6969/delete/" target="blank">Delete Customer</a></h1>
    <h1><a href="http://localhost:6969/update/" target="blank">Update Customer</a></h1>
    <h1><a href="http://localhost:6969/show/all" target="blank">Update Customer</a></h1>
    <form action="#" method="post">
        <h1>ID: </h1>
        <input type="text" name="id">
        <input type="submit" value="submit">
    </form>
</body>
</html>
