{% extends 'base.html' %}
{% block title %}Login{% endblock title %}
{% block head %}
<link rel="stylesheet" type="text/css" href="..\\static\\css\\style.css">
{% endblock head %}
{% block body %}
    {% if message %}
        {% if message == "Logged In" %}
            <script type="text/javascript">
                alert("Logged In");
            </script>
            <meta http-equiv="refresh" content="1; url=http://localhost:80/" />
        {% endif %}
        {% if message != "Logged In" %}
            <script type="text/javascript">
                alert("{{ message }}")
            </script>
        {% endif %}
    {% endif %}
    <form action="#" method="POST">
        <table>
            <tr>
                <td>
                    <h1>User: </h1>
                </td>
                <td>
                    <input type="text" name="user">
                </td>
            </tr>
            <tr>
                <td>
                    <h1>Password: </h1>
                </td>
                <td>
                    <input type="password" name="password">
                </td>
            </tr>
        </table>
        <input type="submit" value="Login">
        <br>
        <a href="/register/">Don't Have An Account? Create One</a>
    </form>
{% endblock body %}
