<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add</title>
	<link rel="stylesheet" href="..\\static\\css\\style.css">
    <link rel="shortcut icon" alt="x-icon" href="..\\static\\css\\resturant.png"
</head>
<body>
    <form action="#" method="POST">
        <h1>Customer ID: </h1>
        <input type="number" name="customer_id">
        <h1>Name: </h1>
        <input type="text" name="name">
        <h1>Date: </h1>
        <input type="date" name="date">
        <h1>ID: </h1>
        <input type="number" name="id">
        <h1>Quantity</h1>
        <input type="number" name="quantity">
        <br>
        <button><a style="color: black" href="/item/id/" target="blank">Show Item ID</a></button>
        <br>
        <h1>Item ID: </h1>
        <input type="number" name="item_id">
        <input type="submit" value="Add">
    </form>
    <button><a style="color: black" href="/logout/">Logout</a></button>
</body>
</html>
