<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
	<link rel="stylesheet" href="static\\css\\style.css">
    <link rel="shortcut icon" alt="x-icon" href="static\\css\\resturant.png"
</head>
<body>
    <h1>Resturant</h1>
    <p><li>/show/id/[number]</li></p>
    <p><li>/show/id/[number]?type=json</li></p>
    <p><li>/show/id/[number]?type=xml</li></p>
    <p><li><a href="/show/id/all/">Show All</a></li></p>
    <p><li><a href="/show/id/all/?type=json">Show All By JSON</a></li></p>
    <p><li><a href="/add/">Add Order</a></li></p>
    <p><li><a href="/item/add/">Add Item</a></li></p>
    <p><li><a href="/item/delete/">Delete Item</a></li></p>
    <button><a style="color: black"href="/logout/">Logout</a></button>
</body>
</html>
