body {
    background-color: black;
}
h1 {
    color: white;
    font-family: Courier New;
}
h2 {
    color: white;
    font-family: Courier New;
}

h3 {
    color: white;
    font-family: Courier New;
}
h4 {
    color: white;
    font-family: Courier New;
}
h5 {
    color: white;
    font-family: Courier New;
}
h6 {
    color: white;
    font-family: Courier New;
}
p {
    color: white;
    font-family: Courier New;
}
label {
    color: white;
    font-family: Courier New;
}
