<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resturant</title>
    <style>
        body {
            background-color: black;
        }
        h1 {
            color: white;
        }
        a {
            color: white;
        }
        li {
            color: white;
        }
    </style>
</head>
<body>
    <h1>Available API's</h1>
    <li>
        <a href="http://127.0.0.1:6969/resturant/customer" target="blank">Customer</a>
    </li>
    <li>
        <a href="http://127.0.0.1:6969/resturant/item" target="blank">Item</a>
    </li>
    <li>
        <a href="http://127.0.0.1:6969/resturant/sales_details" target="blank">Sales Details</a>
    </li>
    <li>
        <a href="http://127.0.0.1:6969/resturant/sales_main" target="blank">Sal Main</a>
    </li>
</body>
</html>